body::before {
	content: "";
	position: fixed; /* Фиксируем на одном месте */
	left: 0;
	right: 0; /* Вся ширин */
	top: 0;
	bottom: 0; /* Вся высота */
	z-index: -1; /* Фон ниже текста */
	background: no-repeat url("/src/components/assets/main-image.png");
	filter: blur(20px);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
