/* .textCenter {
	text-align: center;
}

.textUppercase {
	text-transform: uppercase;
}

.standartSection {
	padding: 80px 0;
	background-color: #ffffff;
	left: 0;
	width: 100%;
	height: 100%;
}

.title {
	font-weight: 900;
	margin-bottom: 75px;
	font-size: 30px;
	color: black;
}

.col4 {
	width: 33.3333%;
	border-radius: 10px;
}

.row {
	display: flex;
	justify-content: center;
}

.item {
	box-shadow: 0 13px 27px rgba(196, 9, 9, 0.15);
	padding: 20px;
	background-color: #ffffff;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.item .form {
	display: block;
}

.formInput {
	padding: 16px 20px;
	color: black;
	border-radius: 10px;
	font-family: "Chilanka", cursive;
	font-weight: bold;
	margin-bottom: 5px;
}

.formInputContainer {
	margin-bottom: 40px;
}

.formInput:hover {
	cursor: pointer;
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
}

.formButton {
	background: linear-gradient(to right, white, red);
	padding: 10px 76px;
	border-radius: 10px;
	color: black;
	font-family: "Chilanka", cursive;
	font-weight: bold;
}

.formButton:hover {
	background: linear-gradient(to right, red, white);
	transition: 0.2s;
	cursor: pointer;
	color: white;
} */
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	width: 100vw;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginArea {
	width: 410px;
	height: 338px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.loginArea__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28.13px;
	margin-bottom: 16px;
	color: #424242;
}

.loginArea__form {
	width: 345;
}

.formInputContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* justify-content: flex-end; */
	width: 100%;
}
.formInputContainer span {
	font-family: Roboto;
	font-style: normal;
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 18.75px;
	color: #424242;
	margin-bottom: 7px;
}

.reduxForm {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.formInput {
	width: 345px;
	height: 34px;
	margin-bottom: 25px;
	border: 1px solid #c9cacc;
	box-sizing: border-box;
	border-radius: 4px;
}

.formButton {
	width: 116px;
	height: 34px;
	background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 18.75px;
}

.formButton:hover {
	cursor: pointer;
	width: 116px;
	height: 34px;
	background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
	box-shadow: 0px 0px 4px #99a0a3;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 18.75px;
}

.formButton:active {
	cursor: pointer;
	width: 116px;
	height: 34px;
	background: linear-gradient(104.34deg, #5362be -15.34%, #4ad5ff 145.95%);
	border: 1.5px solid rgba(29, 138, 216, 0.3);
	border-radius: 4px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 18.75px;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}

/* ERROR */

.formControl.error input {
	background: #ffffff;
	border: 1px solid #eb1717;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(235, 23, 23, 0.2);
	border-radius: 4px;
}

.formControl.error span {
	color: #eb1717;
}

.formSummaryError {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: red;
}
